/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mongolian&display=swap');

:root {
  --font-mongolian: 'Noto Sans Mongolian', sans-serif;
  --primary-color: #3f51b5;
  --accent-color: #ff4081;
  --bg-color: #f5f5f5;
  --text-color: #333;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.mongolian-text {
  font-family: var(--font-mongolian);
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-size: 1.5rem;
  line-height: 2;
}

.vertical-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  height: 100%;
  padding: 1rem;
}
